<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.xq.main"
	android:versionCode="601"
	android:versionName="6.0.1" >
	<uses-sdk
		android:minSdkVersion="11"
		android:targetSdkVersion="18" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme" >
		<activity
			android:name=".activity.LogoActivity"
			android:label="@string/app_name" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.MainActivity"
			android:screenOrientation="portrait" />
		<activity
			android:name=".activity.GuideActivity"
			android:screenOrientation="portrait" />
		<!-- Caution! Do not change this app key. It is only for demo usage. -->
		<meta-data
			android:name="UMENG_APPKEY"
			android:value="55cdc211e0f55a4ef9001bb7" >
		</meta-data>
		<meta-data
			android:name="UMENG_CHANNEL"
			android:value="Umeng" >
		</meta-data>
	</application>
</manifest>